version: '3'
services:
  devrpc:
    build:
      dockerfile: Dockerfile.dev
      context: ./devrpc
    ports:
      - '8545:8545'
    volumes:
      - ./ganache_data:/ganache_data
  frontend:
    build:
      dockerfile: Dockerfile.dev
      context: ./frontend
    ports:
      - '8080:3000'
    volumes:
      - /app/node_modules
      - ./frontend:/app
