.createSC_div{
    padding-left: 10%;
    padding-right: 10%;
}

.half_div{
    width:50%;
    height: 580px;
    float:left;
    padding-left: 30px;
    padding-top: 30px;
    background: var(--dialouge-background) 0% 0% no-repeat padding-box;
    background: #1D1D1D 0% 0% no-repeat padding-box;
    opacity: 1;
}

.left-half-border{
    border-top: 1px solid #3B86FF;
    border-left: 1px solid #3B86FF;
    border-bottom:1px solid #3B86FF;
}

.right-half-border{
    border-top: 1px solid #3B86FF;
    border-right: 1px solid #3B86FF;
    border-bottom: 1px solid #3B86FF;
}

/* label */
.ant-form-item-label > label{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    color: #3B86FF;
    font-size: 14px;
}

.create-title{
    border-bottom: 2px solid #3B86FF;
    color:white;
    font-size: 28px;
    font-family: fantasy;
}

.ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: white;
    font-size: 14px;
    line-height: 1.5715;
    background: var(--dialouge-background) 0% 0% no-repeat padding-box;
    background: #1D1D1D 0% 0% no-repeat padding-box;
    opacity: 1;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #3B86FF;
    border-radius: 2px;
    transition: all 0.3s;
}

.button-div{
    float: left;
    padding-right: 20px;
}

/* progress*/
.ant-progress-outer {
    display: inline-block;
    width: 60%;
    margin-right: 0;
    padding-right: 0;
}

.condition{
    color: #3B86FF;
}

.progress-title{
    color:#ddcfcfcb;
    font-size: 15px;
}

/* input background */
.ant-input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #292929;
    cursor: not-allowed;
    opacity: 1;
}

/* date picker background */
.ant-picker.ant-picker-disabled {
    background: #292929;
    border-color: #d9d9d9;
    cursor: not-allowed;
}

/* fee background */
.ant-input-number-input {
    width: 100%;
    height: 30px;
    padding: 0 11px;
    text-align: left;
    background-color: #292929;
    border: 0;
    border-radius: 2px;
    outline: 0;
    transition: all 0.3s linear;
    -moz-appearance: textfield !important;
}