.createSC_div{
    padding-left: 10%;
    padding-right: 10%;
    height: 600px;
}

.left_half{
    width:50%;
    height: 580px;
    float:left;
    padding-left: 30px;
    padding-top: 30px;
    background: var(--dialouge-background) 0% 0% no-repeat padding-box;
    background: #1D1D1D 0% 0% no-repeat padding-box;
    opacity: 1;  
    border-top: 1px solid #3B86FF;
    border-left: 1px solid #3B86FF;
    border-bottom:1px solid #3B86FF; 
}


.right_half{
    width:50%;
    height: 580px;
    float:left;
    padding-left: 30px;
    padding-top: 30px;
    background: var(--dialouge-background) 0% 0% no-repeat padding-box;
    background: #1D1D1D 0% 0% no-repeat padding-box;
    opacity: 1;  
    border-top: 1px solid #3B86FF;
    border-right: 1px solid #3B86FF;
    border-bottom: 1px solid #3B86FF;
}

/* progress */
.condition{
    color: #3B86FF;
}

