@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbarholder{
    height: 70px;
    background-color: #121212;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 6fr;
    grid-column-gap: 5px;
    z-index: 1; /* Stay on top of everything */
    position: fixed;
    top: 0px;
}

.gridnavbarLogo {
    background-color: #292929;
    width: 114px;
    height: 43px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-left: 23px;
    margin-right: 123px;
    display: inline-block;
    text-align: right;
}

.logoBackground {
    background-color: #292929;
}


.gridnavbarLink {
    height: inherit;
    font-size: 24px;
    color: #ffffff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
    text-align: center;
    font-family: 'Source Sans Pro';
}

.gridnavbarLink:hover {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 24px;
    transition: 0.3s ease;
    background-color: #00000029;
    text-decoration: none;
}

.searchBar {
    height: 70px;
    width: 469px;
    display: block;
    background-color: #121212;
    padding-left: 5px;
    border: none;
    color: white;
}

::placeholder {
    color: white;
}

.searchIcon {
    height: 16px;
    width: 16px;
    color: white;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 20px;
}

.searchContainer {
    width: 36px;
}

.navbarRight {
    text-align: right;
    color: white;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: 30px;
    
}