@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar{
    height: 60px;
}

.navbarList {
    list-style-type: none;
    background-color: #292929;
    margin: 0;
    padding: 0;
    padding-left: 3px;
}

.navbarList li {
    font-family: 'Raleway', cursive;
    display: inline-block;
    text-align: right;
    height: 50px;
}

.navbarLogo {
    height: 50px;
    padding: 8px 10px 8px;
    display: inline-block;
    text-align: right;
}


.navbarLink {
    height: inherit;
    font-size: 24px;
    color: #ffffff;
    padding: 5px 18px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
    text-align: center;
}

.navbarLink:hover {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: 100;
    
    transition: 0.3s ease;
    background-color: #00000029;
    text-decoration: none;
}

