.sidebar {
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 260px;
    z-index: 1; /* Stay on top of everything */
    top: 70px; /* Stay on the top */
    background: #292929 0% 0% no-repeat padding-box;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sideButton {
    margin-top: 34px;
    margin-bottom: 29px;
    margin-left: 50px;
    margin-right: 50px;
    width: 159px;
    height: 33px;
}

.sideItem {
    width: 260px;
    height: 53px;
    display: block;
    color: #A5A4BF;
    padding-left: 52px;
    padding-top: 17px;
    padding-bottom: 15px;
    font: normal normal normal 15px/21px Source Sans Pro;
}

.sideItem:hover {
    color: #A3A0FB;
    background-color: #FFFFFF3E;
    border-left: solid 5px #A3A0FB;
}

.sideLink {
    font-size: 16px;
    color: inherit;
}

.sideLink:hover {
    color: inherit;
}

.sideIcon {
    color: inherit;
    width: 16px;
    height: 16px;
    margin-right: 11px;
    vertical-align: middle;
}

.sideLinkText {
    vertical-align: middle;
    color: #E1E1E1;
}